/* Global */
:root {
  /* color */
  --color-white: #ffffff;
  --color-light-white: #dee2e6;
  --color-dark-white: #bdbdbd;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-dark-grey: #444444;
  --color-black: #495057;
  --color-black-a: rgba(0, 0, 0, 0.5);
  --color-blue: #25a0e2;
  --color-sky: #79cdfc;
  --color-light-blue: #f6f8fa;

  /* Font size */
  --font-big: 48px;
  --font-large: 32px;
  --font-medium: 24px;
  --font-regular: 20px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;
  --weight-thin: 100;

  /* border Size */
  --size-border-radius: 4px;
}

/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
  font-family: Poppins-Regular;
  src: url("../fonts/poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: Poppins-Bold;
  src: url("../fonts/poppins/Poppins-Bold.ttf");
}

/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  font-family: sans-serif;
}

/* ------------------------------------ */

a {
  margin: 0px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
  outline: none !important;
}

a:hover {
  text-decoration: none;
}
.id_pw_wrap .input_row .input_text {
  color: var(--color-grey);
}

.input_text {
  position: relative;
  display: block;
  width: 100%;
  font-size: var(--font-small);
  font-weight: var(--weight-bold);
}

/* ------------------------------------ */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  font-weight: bolder;
}

p {
  margin: 0px;
}

ul,
li {
  margin: 0px;
  list-style-type: none;
}

/* ------------------------------------ */
input {
  display: block;
  outline: none;
  border: none !important;
}

textarea {
  display: block;
  outline: none;
}

textarea:focus,
input:focus {
  border-color: transparent !important;
}

.input_row {
  width: 100%;
  display: inline-block;
  text-align: left;
  border: 1px solid var(--color-dark-white);
  border-radius: 5px;
  padding: 12px;
  margin: 10px px 0 20px 0;
}

/* ------------------------------------ */

button {
  outline: none !important;
  border: none;
  background: transparent;
}

button:hover {
  cursor: pointer;
}

iframe {
  border: none !important;
}

.center {
  margin: 0;
  text-align: center;
}

/*//////////////////////////////////////////////////////////////////
[ header ]*/
#sidebar_icon {
  display: none;
}

header {
  width: 100%;
  height: 60px;
  background-color: var(--color-white);
  z-index: 50;
  border-bottom: 1px solid var(--color-light-white);
}

header > div {
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header > div ul.navbar {
  margin: 0;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header > div ul.navbar > li {
  font-size: var(--font-small);
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
}

.navbar > li > label {
  font-weight: var(--weight-bold);
}

.logo_img {
  height: 40px;
  width: auto;
}

/*//////////////////////////////////////////////////////////////////
[ 테이블 공통 CSS ]*/
/* table col 넓이 */
.col_number {
  width: 3%;
}
.col_match_name {
  width: auto;
}
.col_match_gender {
  width: 7%;
}
.col_match_round {
  width: 8%;
}
.col_match_group {
  width: 8%;
}
.col_match_division {
  width: 5%;
}
.col_match_place {
  width: 12%;
}
.col_match_date {
  width: 8%;
}
.col_match_time {
  width: 8%;
}
.col_match_state {
  width: 8%;
}
.col_match_view {
  width: 8%;
}
.col_match_memo {
  width: 8%;
}
.col_view_lane {
  width: 5%;
}
.col_view_name {
  width: auto;
}
.col_view_gender {
  width: 10%;
}
.col_view_nation {
  width: 8%;
}
.col_view_team {
  width: 10%;
}
.col_view_wind {
  width: 5%;
}
.col_view_result {
  width: 10%;
}
.col_view_result_th {
  width: 5%;
}
.col_view_rank {
  width: 5%;
}
.col_view_final_result {
  width: 10%;
}
.col_view_pass {
  width: 10%;
}
.col_view_new_record {
  width: 10%;
}
.col_view_status {
  width: 8%;
}
.col_view_remark {
  width: 8%;
}
/* 경기 소개 h1 */
.intro {
  padding-bottom: 1rem;
}
.btn_view {
  text-align: center;
  padding: 0.4em;
  font-size: 0.85em;
  text-decoration: none;
  background: #024274;
  color: #fff;
  font-family: "NotoSansKR-Regular";
  border-radius: 3px;
}

.btn_view span.btn_txt {
  position: relative;
  top: -1px;
}

.btn_view:hover {
  background: #002c4f;
}
.span_like_h3 {
  font-weight: bold;
  font-size: x-large;
}

.input_result {
  position: relative;
  display: block;
  width: 100%;
  font-family: "NotoSansKR-Regular";
  font-size: var(--font-small);
  font-weight: var(--weight-bold);
  text-align: center;
  border-radius: 6px;
}

.input_result:focus {
  color: #006aff;
  outline: 2px solid #7c3535;
}
.input_result:hover {
  color: #00c8ff;
  outline: 2px solid #7c3535;
}

/*//////////////////////////////////////////////////////////////////
[ 경기 안내 테이블 ]*/
.wrap-table100 .table-wrap {
  margin-bottom: 2rem;
  /* margin-bottom: 3.5714285714rem; */
}

.wrap-table100 table {
  border-collapse: collapse;
  margin-top: 10px;
  padding: 0;
  width: 100%;
  table-layout: fixed;
  border-top: 2px solid #024274;
  text-align: center;
}
.wrap-table100 th {
  background: #f3f6f9;
  border: 0;
  border-bottom: 0.14rem solid #ddd;
  /* border-bottom: 0.14rem solid #15a93c; */
  font-size: 18px;
  padding: 1.0714285714rem 0 1rem;
  vertical-align: middle;
  text-align: center;
  white-space: nowrap;
}
.wrap-table100 td {
  padding: 20px 0;
  color: #222;
  font-size: 18px;
  background: #fff;
  vertical-align: middle;
  border-color: #f2f3f6;
  box-sizing: border-box;
  height: 60px;
  /* border: 0.0714285714rem solid #e8eaee; */
}
/*//////////////////////////////////////////////////////////////////
[ 기록 테이블 ]*/

.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-table100 {
  width: 100%;
  /* min-height: 100vh; */
  /* background: #dbdcdf; */
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 33px 30px;
}

.wrap-table100 {
  width: 100%;
  /* border-radius: 10px; */
  overflow: hidden;
}

.table {
  width: 100%;
  display: table;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .table {
    display: block;
  }
}

.row {
  display: table-row;
  background: #fff;
}

.row.header {
  color: #ffffff;
  /* background: #6c7ae0; */
  background: #f3f6f9;
}

@media screen and (max-width: 768px) {
  .row {
    display: block;
  }
  .row.header {
    padding: 0;
    height: 0px;
  }
  .row.header .cell {
    display: none;
  }
  .row .cell:before {
    font-family: Poppins-Bold;
    font-size: 12px;
    color: #808080;
    line-height: 1.2;
    text-transform: uppercase;
    font-weight: unset !important;
    margin-bottom: 13px;
    content: attr(data-title);
    min-width: 98px;
    display: block;
  }
}

.cell {
  display: table-cell;
}

@media screen and (max-width: 768px) {
  .cell {
    display: block;
  }
}

.row.header .cell {
  font-family: Poppins-Regular;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  border-bottom: 0.14rem solid #15a93c;
  padding: 1.0714285714rem 0 1rem;
  vertical-align: middle;
  text-align: center;
}

.row .cell {
  font-family: Poppins-Regular;
  color: #212529;
  padding: 1.0714285714rem 0 1rem;
  border-bottom: 1px solid #f2f2f2;
  text-align: center;
}

/* .row .cell:nth-child(1) {
  width: 150px;
  padding-left: 40px;
}

.row .cell:nth-child(2) {
  width: 150px;
}

.row .cell:nth-child(3) {
  width: 150px;
}

.row .cell:nth-child(4) {
  width: 150px;
}

.row .cell:nth-child(5) {
  width: 100px;
}

.row .cell:nth-child(6) {
  width: 180px;
}

.row .cell:nth-child(7) {
  width: 150px;
} */

.table,
.row {
  width: 100% !important;
}

.row:hover {
  background-color: #ececff;
  cursor: pointer;
}

@media (max-width: 768px) {
  .row {
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 18px;
    padding-top: 30px;
    padding-right: 15px;
    margin: 0;
  }
  .row .cell {
    border: none;
    padding-left: 30px;
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .row .cell:nth-child(1) {
    padding-left: 30px;
  }
  .row .cell {
    font-family: Poppins-Regular;
    font-size: 18px;
    color: #555555;
    line-height: 1.2;
    font-weight: unset !important;
  }
  .table,
  .row,
  .cell {
    width: 100% !important;
  }
}

.btn_login {
  display: block;
  width: 100%;
  padding: 16px;
  border-radius: 5px;
  background-color: var(--color-light-grey);
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: var(--color-white);
}

.btn_login:hover {
  background: var(--color-grey);
}

/* 왜 안 먹냐ㅏㅏㅏ;;; */
.table > tbody > tr:nth-of-type(even) {
  background-color: #e0dfdf;
}

/* account/login.php */
.login {
  width: 100%;
}

.logo_img_login {
  display: block;
  margin: 0 auto;
  width: 160px;
  padding-top: 150px;
  padding-bottom: 20px;
}

.login_pannel {
  display: block;
  margin: 0 auto;
  width: 325px;
  border: 1px solid var(--color-dark-white);
  border-radius: 3%;
}

.login_pannel_inner {
  padding: 20px;
}

.id_pw_wrap {
  display: block;
}

.id_pw_wrap .input_row {
  width: 100%;
  padding: 16px;
}

.id_pw_wrap .input_row .input_text {
  color: var(--color-grey);
}

.login_pannel .btn_login {
  margin-top: 20px;
}

/* 권산꺼 임시*/
.input_row {
  width: 100%;
  display: inline-block;
  text-align: left;
  border: 1px solid var(--color-dark-white);
  border-radius: 5px;
  padding: 12px;
  margin: 10px 0 20px 0;
}
.btn_base a,
.btn_base input,
.btn_base button,
.btn_base input > label {
  display: block;
  text-align: center;
  width: 80px;
  padding: 9px 0;
  font-size: 1em;
  text-decoration: none;
  border-radius: 6px;
  font-family: "NotoSansKR-Medium";
}

.btn_grey {
  background: #909092;
  color: #ffffff;
}
.btn_navy {
  background: #092475;
  color: #ffffff;
}
.btn_memo {
  display: inline-block;
  text-align: center;
  border: 1px solid var(--color-dark-white);
  border-radius: 10px;
  width: 70rem;
  height: 3rem;
  margin-bottom: 10px;
}
.btn_update {
  display: inline-block;
  text-align: center;
  border: 1px solid var(--color-dark-white);
  border-radius: 10px;
  width: 70rem;
  height: 3rem;
  margin-top: 30px;
}
.btn_resort {
  display: inline-block;
  text-align: center;
  border: 1px solid var(--color-dark-white);
  border-radius: 10px;
  width: 70rem;
  height: 2.3rem;
  margin-bottom: 10px;
  font-weight: bold;
}
.a_button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  text-decoration: none;
  color: initial;
  display: inline-block;
  text-align: center;
  border: 1px solid var(--color-dark-white);
  border-radius: 10px;
  width: 70rem;
  height: 3rem;
  color: var(--color-white);
  font-size: x-large;
  font-weight: bold;
  margin-top: 30px;
}
.div_block {
  display: inline-block;
}
/*버튼 가운데 정렬 CSS*/
.container_postbtn {
  text-align: center;
}
.container_postbtn .postbtn_like {
  display: inline-block;
  float: none !important;
}

.btn_base .btn_add,
.btn_base a.btn_footer {
  /* background:#024274; */
  background: #e9eaed;
  color: #444444;
}

.btn_base .btn_add:hover,
.btn_base a.btn_footer {
  /* background:#002c4f;  */
  background: #bdbdbd;
}

.btn_base a.btn_footer {
  border-radius: 0;
}

.btn_base .btn_add i {
  position: relative;
  left: -6px;
}
.base_mar {
  margin-bottom: 8px;
}
.col_left {
  float: left;
  margin-right: 15px;
}

.bold {
  font-weight: bold;
}
.btn_excel span.btn_txt {
  position: relative;
  top: -1px;
}

.btn_excel:hover {
  background: #0a572b;
}

.label_for_excel_import {
  display: inline-block;
  background-color: #147e47;
  color: white;
  padding: 0.5rem;
  text-align: center;
  width: 80px;
  padding: 9px 0;
  font-size: 1em;
  text-decoration: none;
  border-radius: 6px;
  font-family: "NotoSansKR-Medium";
  cursor: pointer;
  margin-right: 0.3rem;
}
table.team_table {
  /*border: 1px solid #ccc;*/
  border-collapse: collapse;
  margin-top: 10px;
  padding: 0;
  width: 100%;
  table-layout: fixed;
  border-top: 2px solid #024274;
}

table.team_table caption,
table.modal_table caption {
  display: none;
}

table.team_table tr {
  background: #fff;
  border-bottom: 1px solid #ddd;
  padding: 0.35em;
}

table.team_table th,
table.team_table td {
  /* padding: 0.825em; */
  padding: 13px 10px 13px 10px;
  text-align: center;
}

table.team_table tbody tr.border_bg,
table.modal_table tr.border_bg {
  background: #fff;
}

table.team_table th {
  font-size: 1em;
  letter-spacing: 0.1em;
  background: #f3f6f9;
  color: #2f2f2f;
  white-space: nowrap;
}

table.team_table td {
  font-size: 1em;
  position: relative;
  /* white-space: nowrap; */
}

table.team_table > tbody > tr:hover {
  background-color: #f9d8e6;
  /*#bbdefd;*/
  color: #333;
}

/*Modified by KJLEE at 2018.03.27*/
table.team_table td[data-th]::before {
  display: none;
  text-transform: uppercase;
  content: attr(data-th);
}

table.team_table tr.tb_title_top01 th,
table.team_table tr.tb_title_top02 td {
  text-align: left;
  padding-left: 18px;
  background: #1565c0;
  color: #fff;
}

table.team_table tbody tr.tb_title_top02 td.sm_td_title {
  display: none;
}

table.team_table.center {
  width: 70%;
  border: 1px solid #ddd;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.table > tbody > tr:nth-of-type(even) {
  background-color: #e0dfdf;
}
/*//////////////////////////////////////////////////////////////////
[ 로그인 CSS ]*/
.input_text {
  position: relative;
  display: block;
  width: 100%;
  font-size: var(--font-small);
  font-weight: var(--weight-bold);
}
.signup_submit {
  padding-top: 40px;
  margin-bottom: 40px;
}
.btn_login {
  display: block;
  width: 100%;
  padding: 16px;
  border-radius: 5px;
  background-color: var(--color-light-grey);
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: var(--color-white);
}

.btn_login:hover {
  background: var(--color-grey);
}
/*//////////////////////////////////////////////////////////////////
[ 비고 CSS ]*/
.memo_form {
  justify-content: center;
  align-items: center;
}
.memo {
  margin-bottom: 1rem;
  padding-left: 0.2rem;
  width: 99.8%;
  height: 200px;
  font-size: 20px;
}
